*.exe filter=lfs diff=lfs merge=lfs -text
*.dmg filter=lfs diff=lfs merge=lfs -text
*.AppImage filter=lfs diff=lfs merge=lfs -text
*.deb filter=lfs diff=lfs merge=lfs -text
*.rpm filter=lfs diff=lfs merge=lfs -text
binaries/* filter=lfs diff=lfs merge=lfs -text
binaries/*.exe filter=lfs diff=lfs merge=lfs -text
binaries/IncogniFi-setup-1.6.0.exe filter=lfs diff=lfs merge=lfs -text
binaries/IncogniFi-setup-latest.exe filter=lfs diff=lfs merge=lfs -text
