@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
webview {
  min-height: 0;
  flex: 1;
  display: inline-flex !important;
  /* Force display for Electron webview */
}

.draggable {
  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-app-region: no-drag;
}